{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}ERP Textile{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>

    {% block content %}
    <div class="row-6 content-grid">
        <div class="grid-item-1">

            <h2>Toggle Dark/Light Mode</h2>
<p>Click the button to toggle between dark and light mode for this page.</p>

<button onclick="myFunction()">Toggle dark mode</button>


        </div>
        <div class="grid-item-1">

            <h2 class="heading-two">ERP Textile</h2>

        </div>
        <div class="grid-item-1">

            <h2 class="heading-two">ERP Textile</h2>

        </div>
    </div>
    <script>
        function myFunction() {
           var element = document.body;
           element.classList.toggle("dark-mode");
        }
        </script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

</body>
</html>