{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<body>
    <div class="row-2 content-grid">
        <div class="grid-item-1"> 
            <nav class="navbar">
                <h1>ERP Textile</h1>
                <div class="nav-links">
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'user_list' %}">Users</a>
                </div>
            </nav>

            </div>
            <div class="grid-item-1"> 
                <h2>Toggle Dark/Light Mode</h2>

                
                <button onclick="myFunction()">Toggle dark mode</button>
                <script>
                    function myFunction() {
                       var element = document.body;
                       element.classList.toggle("dark-mode");
                    }
                    </script>

            </div>


    </div>
 
 
    <main>
        {% block content %}
        <!-- default content agar koi child override na kare -->
        {% endblock %}
    </main>
  
                     </div>


    </div>
    <hr>
    <div class="row-3 content-grid">
        <div class="grid-item-1"> 

        </div>
        <div class="grid-item-1"> 
            <footer>
                <p>&copy; ERP Textile</p>
            </footer>
        
        </div>
        <div class="grid-item-1"> 

        </div>
    </div>
  
    {% block extra_js %}{% endblock %}

</body>
</html>