{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
<div class="row-3 content-grid">
    <div class="grid-item-1">  
        <div class="header">
            <h2>Home Page</h2>
        
            <h3>Welcome, {{ user.username }}!</h3>
    </div>
        </div>
    <div class="grid-item-1">  

        <div class="welcome">
            <div class="profile-preview">
                <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="profile-img">
             
            </div>
        </div>

       
    
        </div>
     
    
    <div class="grid-item-1"> 
        
        <div>
      
            <p>You are successfully logged in.</p>
        </div>
    </div>

</div>
<br>
<div class="row-2 content-grid">
    <div class="grid-item-1"> 
        <h2>Dashboard</h2>
    </div>
</div>
<div class="row-2 content-grid">
    <div class="grid-item-1"> 
    

   
            <h3>Total Products: {{ total_products }}</h3>
         
          <p>Total Expenses: {{ total_expenses }}</p>
    </div>
    <div class="grid-item-1"> 
        <h3>Total Categories: {{ total_categories }}</h3>
    </div>
</div>
<h2>Categories ({{ total_categories }})</h2>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ category.name }}</td>
            <td>
                {% if category.status %}
                    Active
                {% else %}
                    Inactive
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No categories found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>


<hr>
<h3>Recent Products</h3>

<table>
    <thead>
        <tr>
            <th>SKU</th>
            <th>Product</th>
            <th>Category</th>
            <th>Purchase Date</th>
            <th>Sale Date</th>
            <th>Purchase Price</th>
            <th>Expenses</th>
            <th>Price Option</th>
            <th>Sale Price</th>
            <th>Stock</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>

    {% for p in products %}
    <tr>

        <td>{{ p.sku }}</td>

        <td>{{ p.name }}</td>

        <td>{{ p.category.name }}</td>

        <td>{{ p.purchase_date|default:"-" }}</td>

        <td>{{ p.sale_date|default:"-" }}</td>

        <td>{{ p.purchase_price }}</td>

        <td>
            {{ p.expense1 }}
            +
            {{ p.expense2 }}
            +
            {{ p.expense3 }}
            +
            {{ p.expense4 }}
            +
            {{ p.expense5 }}
        </td>

        <td>{{ p.get_price_option_display }}</td>

        <td>{{ p.sale_price }}</td>

        <td>{{ p.current_stock }}</td>

        <td>
            {% if p.status %}
                Active
            {% else %}
                Inactive
            {% endif %}
        </td>

    </tr>

    {% empty %}

    <tr>
        <td colspan="11">No products found.</td>
    </tr>

    {% endfor %}

    </tbody>
</table>

{% endblock %}