<{% extends 'accounts/base.html' %}



{% block content %}
<div class="row-6 content-grid">
    <div class="grid-item-1">  </div>
    <div class="grid-item-1">  



        <p>Welcome to ERP Textile!</p>
        <div class="header">
            <h2>Home Page</h2>
            <div class="nav-buttons">
                <a href="{% url 'user_list' %}" class="btn btn-success">Browse Users</a>
                <a href="{% url 'profile' %}" class="btn btn-primary">My Profile</a>
    
        </div>
        <div class="welcome">
            <div class="profile-preview">
                <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="profile-img">
                <div>
                    <h3>Welcome, {{ user.username }}!</h3>
                    <p>You are successfully logged in.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-item-1">  </div>

</div>
    
    {% endblock %}