{% extends 'accounts/base.html' %}



{% block content %}

<div class="row-3 content-grid">
    <div class="grid-item-1"> 
        
    </div>
    <div class="grid-item-1">


    </div>
    <div class="grid-item-1">  

        
    </div>
</div>
    <div class="header">
        <h2>User Profile</h2>
        <div class="nav-buttons">
            <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
        </div>
    </div>
    
    <div class="profile-card">
        <h3>{{ user.username }}'s Profile</h3>
        
        <div class="profile-info">
            <label>Username:</label>
            <p>{{ user.username }}</p>
        </div>
        
        <div class="profile-info">
            <label>Email:</label>
            <p>{{ user.email|default:"Not provided" }}</p>
        </div>
        
        <div class="profile-info">
            <label>First Name:</label>
            <p>{{ user.first_name|default:"Not provided" }}</p>
        </div>
        
        <div class="profile-info">
            <label>Last Name:</label>
            <p>{{ user.last_name|default:"Not provided" }}</p>
        </div>
        
        <div class="profile-info">
            <label>Bio:</label>
            <p>{{ user.profile.bio|default:"No bio provided" }}</p>
        </div>
        
        <div class="profile-info">
            <label>Location:</label>
            <p>{{ user.profile.location|default:"Not provided" }}</p>
        </div>
        
        <div class="profile-info">
            <label>Start Project Date</label>
            <p>{{ user.profile.birth_date|default:"Not provided" }}</p>
        </div>
        
        <div class="profile-info">
            <label>Phone:</label>
            <p>{{ user.profile.phone|default:"Not provided" }}</p>
        </div>
        
        <a href="{% url 'profile_edit' %}" class="btn btn-secondary">Edit Profile</a>
    </div>
    {% endblock %}